@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,700,800);
html { background: #ddd; }
body { font-family: "Open Sans", sans-serif; margin: 15px 15%; padding: 30px; background: #FFF; font-size: 90%; line-height: 1.4em; }
h1 { margin: 0 0 1em 0; }
h2 { font-weight: 300; font-style: italic; border-bottom: 1px dotted #000; padding-bottom: .4em; margin-bottom: .4em; }
h3 { font-weight: 700; color: #2AABE2; margin: 20px 0 10px 0; }
a { color: #2AABE2; font-weight: 700; }
.screenshot img { width: 96%; overflow: hidden; border: 3px solid #fff; margin: 10px; -moz-box-shadow: 1px 3px 8px rgba(0,0,0, .6); -webkit-box-shadow: 1px 3px 8px rgba(0,0,0, .6); box-shadow: 1px 3px 8px rgba(0,0,0, .6); }
.screenshot .caption { padding: 5px 10px 5px 420px; background: #2AABE2; font-size: 85%; line-height: normal; }
.screenshot .caption img { width: 380px; margin-left: -405px; float: left; }
.screenshot .screenshot_breadcrumbs:after,
.screenshot:after,
.screenshot .caption:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.screenshot .caption .caption-title { font-weight: 800; text-transform:  uppercase; color: #FFF; letter-spacing: 0.03em; border-bottom: 1px dotted #FFF; padding-bottom: 6px; }
.screenshot .caption a { color: #000; font-style:  italic; }
.screenshot .screenshot_breadcrumbs,
.screenshot .screenshot_breadcrumbs li { margin:0; padding: 0; list-style: none; font-size: 12px; font-style: italic; color: #333; line-height: normal; }
.screenshot .screenshot_breadcrumbs { border-bottom: 1px dotted #2AABE2; }
.screenshot .screenshot_breadcrumbs li { float: left; padding: 5px 20px 5px 0; position: relative; }
.screenshot .screenshot_breadcrumbs li:after {
content: " "; display: block; width: 0; height: 0; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid #333; position: absolute; top: 50%; margin-top: -4px; right: 7px; z-index: 2; }
.screenshot .screenshot_breadcrumbs li.last { font-weight: bold; color: #2AABE2; }
.screenshot .screenshot_breadcrumbs li.last:after { display:none; }